
.chart-container {
  width: 70%;
  max-width: 800px;
  height: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

.info-text{
  margin-top: 20px;
  font-size: 20px;
  color: rgb(102, 102, 102);
  outline: none;
  font-weight: bold;
}





