.App {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: lemonchiffon;
    margin: 0;
}
.title{
    font-size: 22px;
    color: rgb(102, 102, 102);
    outline: none;
    font-weight: bold;
}
